html{
    min-height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: radial-gradient(circle farthest-side at bottom right,$soft-blue 0%,$dark-blue 85%);
}

h1,
h2,
p{
    color: $white;
    
}

h1,
h2{
    margin: 0;
    font-family: $primary-font;
}

h1{
    font-weight: 700;
}

h2{
    font-size: 2rem;
}

h2,
p{
    font-weight: 400;
}

p{
    font-family: $secondary-font;
}



// Helper Classes
.container{
    padding: 25px 25px 0 25px;
}

.hidden{
    display: none;
}


@media screen and (min-width : 1000px){
    h2{
        font-size: 2.75rem;
    }
}