#members{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 20px;

    @media screen and (min-width: 1000px){
        justify-content: space-evenly;
        padding: 25px 0;

        input{
            align-self: center;
        }
    }
}
